body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#chat-box {
    position: relative;
    left: 18%;
    top: 3vh;
    overflow-y: scroll;
    max-width: 82%;
    height: 95vh;
    background-color: #FFFFFF;
}

#chat-message {
    font-size: 3vh;
    word-break: break-all;
    font-weight: normal;
    white-space: pre-wrap;

}

#system-message {
    font-size: 3vh;
    font-style: italic;
    word-break: break-all;
    font-weight: normal;
    white-space: pre-wrap;

}

.chat-message img {
    min-height: 1vh;
    min-width: 1vw;
    max-width: 30vw;
    max-height: 40vh;
    display: flex;
}

.chat-message a:active {
    outline: none;
}
