<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chat:{{ chat_id }}</title>

 <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="/static/css/raleway-font.css" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <link rel="stylesheet" href="/static/css/chat-main.css">
    <link rel="stylesheet" href="/static/css/emoji.css">

    <script>
        var chat_id = "{{ chat_id }}";
    </script>

    <script type=text/javascript src="/static/js/jquery.js"></script>
    <script type=text/javascript src="/static/js/sjcl.js"></script>
    <script type="text/javascript" src="/static/js/sha256.js"></script>
    <script type=text/javascript src="/static/js/sanitizer.js"></script>
    <script type=text/javascript src="/static/js/parser.js"></script>
    <script type=text/javascript src="/static/js/underscore.js"></script>
    <script type=text/javascript src="/static/js/diffie-hellman.js"></script>
    <script type=text/javascript src="/static/js/bigInteger.js"></script>
    <script type=text/javascript src="/static/js/dh-decoder.js"></script>
    <script type=text/javascript src="/static/js/chat.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div id="room-title">{{ chat_id }}</div>


<div id="chat-wrapper">
<iframe src="/static/html/chat-board.html" id="chat-board"yes
        scrolling="no" frameBorder="0"> </iframe>
  <div id="error-area"> </div>

  <div id="chat-controls">
      <div id="chat-panel">
          <div id="panel-item"><div id="error-area"> </div></div>
          <div id="panel-item"><div class="button" id="dice-button" title="Roll the dice."><a onclick="diceRoll(6)">&#x1F3B2;</a></div></div>
          <div id="panel-item"><div class="button" id="invite-button" title="Invite other users to the chat."><a onclick="uiToggle('invite')">&#x1F4E7;</a></div></div>
          <div id="panel-item"><div class="button" id="link-button" title="Add a link to a message."><a onclick="uiToggle('link')">&#x1F517;</a></div></div>
          <div id="panel-item"><div class="button" id="code-button" title="Add code or pre-formated text to a message."><a onclick="uiToggle('code')">&#x1F4C4;</a></div></div>
          <div id="panel-item"><div class="button" id="image-button" title="Add an image to your message."><a onclick="uiToggle('image')">&#x1F3B4;</a></div></div>


          <div id="panel-item"><div class="button" id="encryption-button" title="Enable end to end encryption to this chat."><a onclick="privateKey()">&#x1F513;</a></div></div>
          <div id="panel-item" hidden><div class="button" id="admin-button" title="Use admin powers on a user."><a onclick="uiToggle('admin')">&#x1F451;</a></div></div>


      </div>
      <textarea name="msg-data" id="msg-data" autofocus  disabled></textarea><br>
  </div>
</div>

<div class="modal" id="invite" draggable="true"><h3><center>Invite users to this chat</center></h3>
    Email: <input type="text" name="recipient" id="recipient">  <br>
                  Message: <input type="text" name="inv-msg" id="inv-msg"> <br><br>
    <div id="panel-item"><div class="button" id="cancel-button" title="Cancel and close this window"><a onclick="uiToggle('invite')">&#x2716;</a></div></div><div id="panel-item"><div class="button" id="accept-button" title="Accept and send invite"><a onclick="inviteUser()">&#x2714;</a></div></div>
</div>

  <div class="modal" id="link" draggable="true"><h3><center>Add a url to your message</center></h3>
    <input type="text" name="link-form" id="link-form" title="URL to be added to your message">  <br>
    <div id="panel-item"><div class="button" id="cancel-button" title="Cancel and close this window"><a onclick="uiToggle('link')">&#x2716;</a></div></div><div id="panel-item"><div class="button" id="accept-button" title="Accept and add image"><a onclick="addUrl()">&#x2714;</a></div></div>
</div>

  <div class="modal" id="code" draggable="true"><h3><center>Add code to your message</center></h3>
    <textarea name="code-form" id="code-form"></textarea>  <br>
    <div id="panel-item"><div class="button" id="cancel-button" title="Close this dialog box"><a onclick="uiToggle('code')">&#x2716;</a></div></div><div id="panel-item"><div class="button" id="accept-button" title="Accept and add code to message"><a onclick="addCode()">&#x2714;</a></div></div>
</div>

    <div class="modal" id="image" draggable="true"><h3><center>Add a image to your message</center></h3>
    <input type="text" name="image-form" id="image-form" title="URL of the image to be added to your message">  <br>
    <div id="panel-item"><div class="button" id="cancel-button" title="Close this dialog box"><a onclick="uiToggle('image')">&#x2716;</a></div></div><div id="panel-item"><div class="button" id="accept-button" title="Add an image to message"><a onclick="addImage()">&#x2714;</a></div></div>
    </div>

    <div class="modal" id="admin" draggable="true" hidden><h3><center>Administrator Functions</center></h3>
    <select id="admin-user-list" name="admin-user-list"> </select><br>
         <div id="panel-item"><div class="button" id="accept-button" title="Promote selected user"><a onclick="admin_exec('promote')">&#x261D;</a></div></div>
        <div id="panel-item"><div class="button" id="cancel-button" title="Warn selected user"><a onclick="admin_exec('warn')">&#x1F44E;</a></div></div>
        <div id="panel-item"><div class="button" id="cancel-button" title="Kick selected user"><a onclick="admin_exec('kick')">&#x1F45F;</a></div></div>
    <div id="panel-item"><div class="button" id="cancel-button" title="Close this dialog box"><a onclick="uiToggle('admin')">&#x2716;</a></div></div>
</div>

<div id="users" draggable="true">

    <ul id="user-list">


    </ul>

</div>

<div id="modal-background"></div>

</body>
</html>
